.background{
    background-image: url('../assets/Enchanted\ Library\ Nook.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.glass-card {
    background: rgba(255, 255, 255, 0.1);
    width: 50%;
    height: 70%; 
    justify-content: center;/* translucent white */
    backdrop-filter: blur(2px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }


.content{
    padding: 20px;
    padding-top: 90px;
}